* {
  padding: 0;
  margin: 0;
}
#nav {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #18191a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
#leftnav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navPic {
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
#search {
  padding-left: 10px;
  height: 40px;
  width: 230px;
  border-radius: 50px;
  background-color: #3a3b3c;
  color: white;
  font-size: 15px;
}
.navIcon {
  font-size: 20px;
  margin: 20px;
  color: lightgray;
}
.bg:hover {
  background-color: #3a3b3c;
  border-radius: 5px;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.atagset{
  display: flex; 
  align-items: center; 
  text-decoration: none;
}
@media screen and (max-width: 1020px) {
  #nav{
    flex-direction: column;
  }
  #rightnav{
    padding-bottom: 20px;
  }
  #centrenav{
    padding-bottom: 20px;
  }
  .content{
    display: none;
  }
}
.m-t-10{
  margin-top: 10px;
}
#contentDiv {
  display: flex;
  background-color: black;
}

.content{
  flex-basis: 20%;
}
#mainContent {
  flex-basis: 60%;
}
.m-10{
  margin: 10px;
}
/* .content:hover{
  overflow-x: hidden;
  overflow-y: scroll;
} */
/* ::-webkit-scrollbar {
  width: 5px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 50%;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 50%;
  background: #b0b0b0;
} */

#contacts{
  display: flex; 
  justify-content: space-between;
  overflow: hidden;
}

.leftcontenticon{
  font-size: 15px; 
  color: lightgray; 
  margin: 10px;
}